body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #6a2891, #151c77);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  
}
