.tasks{
    margin-top: 30px;
    height: 55%;
    width: 80%;
    background: rgb(252, 242, 229);
    margin: auto;
    border-radius: 20px;
}
ul{
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow: auto;
    
}
/*#formtasks{

}*/
span{
    width: 80%;
    display: inline-block;
    overflow: auto;

}
button[value="delete"]{
    border: none;
    outline: none;
    width: 20%;
    
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}